<meta charset="utf-8">
<style>
	table, th, td {
	   border: 1px solid black;
	   border-collapse: collapse;
	}
	th, td {
	   padding: 5px;
	}
	a { text-decoration:none }
</style>
<center>
	<h1>
		Address List 
	</h1>
	<table border='1' cellpadding="7" cellspacing="2" width="50%">
	    <tr>
		    <th>번호</th>
			<th>이름</th>
			<th>주소</th>
			<th>날짜</th>
			<th>삭제</th>
		</tr>
		<tr>
		    <td align='center'>2</td>
			<td>이순신</td>
			<td>대전시 동구</td>
			<td>2017-05-27</td>
			<td align='center'><a href=''>삭제</a></td>
		</tr>
	</table>
</center>